.background {
    -fx-background-color: linear-gradient(to right top, #ffffff, #f8fdff, #e7fdff, #d4feff, #c7fff7);
}

.background-stickerboom {
    -fx-background-color: linear-gradient(to left top, #005347, #1e7b6c, #38a594, #52d1be, #6dffea);
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 5, 5);
}


.background_gradient_red {
    -fx-background-color: linear-gradient(to left top, #f76666, #fa7d7e, #fc9496, #fbaaac, #f9bfc2);;
}

.background_red-stickerboom {
    -fx-background-color: linear-gradient(to left bottom, #880000, #a20f11, #bd1d20, #d9292f, #f53540);
}

.background_red {
    -fx-background-color: #780808;
}

.fill_red {
    -fx-fill: #780808;
}